.header {
    background-color: var(--dark-gray);
    color: var(--white);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #00ACAC;
}

.cryptolog{
    text-transform: uppercase;
    text-decoration: none;
    color: aliceblue;
}

.cryptolog:hover{
    color: var(--gold);
    
}

.nav{
    display: flex;
    margin-top: 8px;
}

.link{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 15px;
    
}

.link{
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    text-transform: uppercase;
    font-family: 'Oxygen';
    font-weight: 100;
    
}

.link:hover{
    color: var(--gold);
    text-decoration: underline;
}



